{
  "machine": { "gpu": 1, "vram": 0, "cpu": 8000, "ram": 16000 },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": { "Concurrency": 1 },
      "Docker": {
        "WorkingDirectory": "/app",
        "Entrypoint": [
          "/app/src/run_model", {{ .input }}
        ],
        "Image": "devlinrocha/mistral-7b:sha256:3b0da0a679bc0497b8ef84cfe642a61fdb2910d8662adb5096bf573945ac5a1d"
      },
      "Engine": "Docker",
      "Network": { "Type": "None" },
      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "Resources": { "GPU": "1", "CPU": "8", "Memory": "16Gb" },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
